<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>测测你的颜值！</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
</head>
<body>
	<div id="upload">
		<form id="send-form" enctype="multipart/form-data" method="post">
			<label for="upfile">上传美照:</label>
			<input type="file" id="upfile" name="file" accept="image/*">
			{% csrf_token %}
		</form>
		<button id="submit">测测颜值</button>
	</div>
	<div id="result">
		<img id="image" src="" alt="">
		<p id="age"></p>
		<p id="beauty"></p>
	</div>
	<script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
	<script src="{% static 'javascripts/common.js' %}"></script>
</body>
</html>